{% extends 'base.html' %}
{% block name %}
{{category_detail.name}}
{% endblock %}
{% block content %}
<div class="container pt-5 pb-5" style="background: rgba(205, 222, 226, 0.37); ">
  <div class="row justify-content-md-center">
    <div class="col-md-10 d-flex justify-content-md-start">

      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">{{category_detail.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-info text-white"><b class=" p-2">Short Description :</b> {{category_detail.type}}</li>
          <li class="list-group-item bg-warning text-dark"><b class=" p-2">Description :</b> {{category_detail.published}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}