{% extends 'base.html' %}
{% block name %}
{{category_detail.name}}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center pt-5">
    <div class="col-md-10 d-flex justify-content-md-start" style="border: 1px solid black;">
      <div class="info  p-5">
        <div class="col-12">
          <h3 class="text-dark">{{category_detail.name}}</h3>
        </div>

        <div class="col-12">
          <p> <span class="">Category Type :</span> {{category_detail.type}}</p>
        </div>
        <div class="col-12">
          <p>Published : {{category_detail.published}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}