{% extends 'base.html' %}

{% block content %}
<br>
<div>
  <a class="btn btn-secondary bg-info" href="{% url 'add_category' %}" role="button">Add Category</a>
</div>
<div class="album py-5">
  <div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">

      {% if object_list %}
      {% for each in category_list %}
      <div class="col-md-4 mb-3">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title text-dark">{{each.name}}</h5>
            <h6 class="card-subtitle mb-2 text-dark">{{each.type}}</h6>
            <p class="text-muted">{{each.published}}</p>
            <p><a class="btn btn-dark" href="{% url 'category_detail_view' each.id %}" role="button">View details
                &raquo;</a></p>
            <div class="btn-group d-flex justify-content-between align-items-center">
              <a class="btn btn-sm btn-outline-secondary bg-info text-white" href="{% url 'edit_category' each.id %}"
                role="button">Edit</a>
              <a class="btn btn-sm btn-outline-secondary bg-danger text-white" href="#" role="button">Delete</a>

            </div>
          </div>

        </div>
      </div>
      {% endfor %}
      {% else %}
      No Post Found
      {% endif %}

    </div><!-- /.row -->
  </div>
  {% endblock %}