{% extends 'base.html' %}
{% block title %}
{{faq_detail.title}}
{% endblock %}
{% block content %}
<div class="container pt-5 pb-5" style="background: rgba(205, 222, 226, 0.37); ">
  <div class="row justify-content-md-center">
    <div class="col-md-10 d-flex justify-content-md-start">

      <div class="card w-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{faq_detail.title}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-info text-white"><b class=" p-2">Short Description :</b> {{faq_detail.short_description}}</li>
          <li class="list-group-item bg-warning text-dark"><b class=" p-2">Description :</b> {{faq_detail.description}}</li>
          <li class="list-group-item bg-info text-white"><b class=" p-2">Status :</b> {{faq_detail.status}}</li>
          <li class="list-group-item bg-warning text-dark"><b class=" p-2">Meta Description :</b>  {{faq_detail.meta_title}}</li>
          <li class="list-group-item bg-info text-white"><b class=" p-2">Meta Description :</b>  {{faq_detail.meta_description}}</li>
          <li class="list-group-item bg-warning text-dark"><b class=" p-2">Meta Keyword :</b> {{faq_detail.meta_keyword}}</li>
          <li class="list-group-item bg-info text-white"><b class=" p-2">Og Title :</b> {{faq_detail.og_title}}</li>
          <li class="list-group-item bg-warning text-dark"><b class=" p-2">Og Description :</b> {{faq_detail.og_description}}</li>
          <li class="list-group-item bg-info text-white"><b class=" p-2">Og URL :</b> {{faq_detail.og_url}}</li>
          <li class="list-group-item bg-warning text-dark"><b class=" p-2">Canonical URL :</b> {{faq_detail.canonical_url}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}